# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Node
node_modules/
.next/
*.tsbuildinfo

# Flutter / Dart
.packages
.pub/
build/
*.iml
.idea/
.dart_tool/

# Docker
*.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AI models
*.pkl
*.h5
